legend {
    text-align: center;
    font-family: fantasy;
    font-size: 50px !important;
    color: #009688;
}

fieldset{
    margin-top: 50px;
}

.layui-tab {
    margin-left: 5%;
    margin-right: 5%;
}